.container {
    max-width: 86%;
    margin: 2rem auto 0;
    padding: 6rem 4rem;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 30px;
}

.container img {
    border-radius: 30px;
}

.container h1 {
    margin-bottom: 5rem;
}

.container p {
    margin-top: 5rem;
}