.container {
    max-width: 15rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background: var(--color-light);
    padding: 2rem;
    border-radius: 15px;
}

.container h1 {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.container img {
    border-radius: 15px;
    margin-bottom: 1rem;
}

.btn {
    width: 7rem;
    height: 2rem;
    border-radius: 15px;
    font-weight: bold;
    background: var(--color-green);
    color: var(--color-white);
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    width: 10rem;
}

.botao {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
}