.container {
    max-width: 86%;
    margin: 4rem auto 0 auto;
    padding: 3rem;
    background: var(--color-white);
    border-radius: 30px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.titulo h1 {
    font-size: 35px;
    font-weight: bold;
    color: var(--color-black);
}

.titulo h1:after {
    content: "";
    display: block;
    width: 5rem;
    height: 2.5px;
    background: var(--color-black);
    margin: 0 auto;
    border-radius: 3rem;
}

@media (max-width: 720px) {
    .container {
        margin: 8rem auto;
        padding: 3rem 1rem;
    }
}