.container {
    max-width: 86%;
    margin: 4rem auto 0;
    padding: 6rem 4rem;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 30px;
}

.container img {
    border-radius: 30px;
}

.container h1 {
    margin-bottom: 5rem;
}

.container p {
    margin-top: 5rem;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    /* width: 6.5rem;
    height: 2.5rem; */
    padding: 0.8rem 2rem;
    border: none;
    cursor: pointer;
    background: var(--color-red);
    color: var(--color-white);
    font-weight: bold;
    border-radius: 22px;
    transition: 0.2s;
    margin-bottom: 6rem;
}

.botao:hover {
    opacity: 50%;
}