.container {
    margin: 4rem auto 0 auto;
    max-width: 86%;
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: flex-start;
}

.card {
    background: var(--color-white);
    border-radius: 30px;
    padding: 4rem 3rem;
    color: var(--color-black);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.34);
}

.card:last-child {
    margin-left: 2rem;
}

.titulo {
    font-weight: bold;
}

.titulo::after {
        content: "";
        display: block;
        border-radius: 30px;
        width: 60px;
        height: 3px;
        background: var(--color-black);
        margin: 0 0 2.5rem 0;
}