.img_fundo {
  position: relative;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center top;
}

.img_fundo img {
  height: 40rem;
  object-position: center 25%;
}

.containerNot {
  max-width: 86%;
  margin: -6rem auto 0;
  padding: 3rem 3rem 4rem 3rem;
  background: var(--color-white);
  color: var(--color-black);
  border-radius: 30px;

  position: relative;
  z-index: 100;
}

.container {
  max-width: 100%;
  margin: 4rem auto 0;
  color: var(--color-black);
  border-radius: 30px;
}

.container span {
  font-style: italic;
}

.container img {
  border-radius: 30px;
  height: 25rem;
}

.container h1 {
  margin: 3rem 0 5rem 0;
}

.container p {
  margin-top: 5rem;
  max-width: 90%;
}

.swiper-button-prev {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;

  background: #1f8f4a;
  color: #ffffff;
}

@media (max-width: 720px) {
  .img_fundo img {
    height: 22rem;
  }

  .containerNot {
    max-width: 90%;
    padding: 1.5rem;
  }

  .container h1 {
    font-size: 27px;
    margin: 1rem 0 -4rem 0;
  }

  .container {
    margin-top: 1rem;
  }
}
