.container {
  max-width: 60%;
  margin: 4rem auto 0 auto;
  border-radius: 30px;
}

.containerContact {
  display: grid;
  grid-template-columns: 40% 60%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  max-width: 80%;
  width: 100%;
  color: var(--color-white);
  background: var(--color-green);
  padding: 1.2rem;
  border-radius: 15px;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.34);
}

.contact__option_icon {
  font-size: 1.5rem;
  /* margin-bottom: 0.5rem; */
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--color-white);
  transition: 0.2s;
}

.contact__option a:hover {
  color: var(--color-yellow);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 15px;
  background: var(--color-white);
  border: 2px solid var(--color-white);
  resize: none;
  color: var(--color-black);
}

.btnForm {
  background: var(--color-green);
  padding: 1rem 4rem;
  color: var(--color-white);
  font-weight: bold;
  border-radius: 15px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
}

.btnForm:hover {
  /* width: 15rem; */
  opacity: 50%;
}

.titulo {
  display: grid;
  grid-template-columns: 36.11% 63.89%;
  align-items: stretch;
  height: 25rem;
}

.tituloTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  background: white;
  height: 50%;
  padding-left: 9rem;
}

.tituloTexto h2 {
  color: var(--color-green);
}

.tituloTexto p {
  color: var(--color-black);
  margin-bottom: 2.375rem;
}

.imgFundo {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.titulo h1 {
  font-size: 35px;
  font-weight: bold;
  color: var(--color-black);
}

.textoPrincipal {
  text-align: left;
  color: var(--color-black);
  font-size: 28px;
  margin: -4rem 0 1rem 0;
  text-align: center;
}

.textoPrincipalGreen {
  text-align: left;
  color: var(--color-green);
  font-size: 28px;
}

.textTitle {
  max-width: 86%;
  display: flex;
  justify-content: center;
  margin: 8rem auto 5rem auto;
}

@media (max-width: 720px) {
  .container {
    max-width: 86%;
    margin: -8rem auto 0 auto;
  }

  .containerContact {
    display: flex;
    flex-direction: column;
  }

  .contact__option {
    max-width: 100%;
  }

  form {
    margin: 4rem 0 0 0;
  }

  .titulo {
    grid-template-columns: 50% 50%;
    height: 25rem;
    align-itens: stretch;
  }

  .tituloTexto {
    margin: 3rem 0 0 0;
    padding-left: 1.5rem;
    height: 52%;
  }

  .tituloTexto h2 {
    font-size: 1rem;
  }

  .tituloTexto p {
    color: var(--color-black);
    margin-bottom: 2.375rem;
  }

  .imgFundo {
    width: 100%;
    height: 64%;
    object-fit: cover;
  }

  .titulo h1 {
    font-size: 17px;
  }

  .textoPrincipal {
    text-align: center;
    font-size: 20px;
    margin: -15rem 0 2rem 0;
  }

  .textoPrincipalGreen {
    font-size: 20px;
  }
}
