.containerMenu {
  background: var(--color-white);
}

.menu {
  max-width: 86%;
  height: 75px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__casa {
    max-width: 6.5rem;
    position: relative;
    top: 1.4rem;
}

.itensMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.itensMenu a {
  color: var(--color-black);
  transition: 0.2s;
  cursor: pointer;
}

.itensMenu a:hover {
  color: var(--color-blue-primary);
}

.btn_doe {
  width: 6rem;
  height: 2.3rem;
  background: var(--color-red);
  color: var(--color-white);
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  border: none;

  transition: var(--transition);
}

.btn_doe:hover {
  background: var(--color-red-secundary);
}
