.container_footer {
    width: 100%;
    height: 19rem;
    margin-top: 5.9rem;
    padding: 2rem;

    background: var(--color-white);
}

.logo_footer {
    max-width: 6.9rem;
    margin: 0 auto
}

.menu_footer ul {
    display: flex;
    flex-wrap: warp;
    gap: 2rem;
    justify-content: center;
    margin-top: 1.6rem;
}

.menu_footer li {
    color: var(--color-black);
    cursor: pointer;
    transition: 0.3s;
}

.menu_footer li:hover {
    color: var(--color-blue-primary);
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.socials a {
    background: var(--color-blue-primary);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 2rem;
    display: flex;
    border: 1px solid transparent;
    margin-top: 2rem;
}

.copy {
    background: var(--color-white);
    color: var(--color-black);

    text-align: center;
}

.copy a {
    color: var(--color-blue-primary);
}